/* Estilo a nivel de etiqueta HTML */
body {
    background-color: aqua;
}
/* Estilo a nivel de identificador */
#titulo-principal {
    background-color: #f2e0bd;

    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
}